{% extends "base.html" %}


{% block title %}Welcome{% endblock %}

{% block content %}
  <div class="text-center mt-5">
    <h1>Welcome to Devbase</h1>
    <p class="lead">For developers and passionate enthusiasts alike, DevBase is your space to share ideas, spark conversations, and dive into the ever-evolving world of code and creativity. Whether you're here to write your thoughts, learn something new, or simply see what others are building, you're in the right place. This is more than just a blog — it's a community built around curiosity, collaboration, and expression. So take a look around, get involved, and make yourself at home. This is your base. Let’s build something great together.</p>
</div>

<div class="latest-post mt-5" id="latest-post-container">
  <h2 class="title"> Latest Posts </h2>
  <div class="row g-3">
  <div class="col-10 col-md-6 col-lg-4 mx-auto">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Card title 1</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle 1</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <div class="col-10 col-md-6 col-lg-4 mx-auto">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Card title 2</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle 2</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <div class="col-10 col-md-6 col-lg-4 mx-auto">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Card title 3</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle 3</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
