{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
<link rel="stylesheet" href="{% static 'css/comments.css' %}" />
<link rel="stylesheet" href="{% static 'css/summernote.css' %}" />
{% endblock %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<a href="javascript:history.back()" class="btn btn-secondary mb-4">← Back</a>

<h1>{{ post.title }}</h1>
<p class="date">Published {{ post.publish }} by {{ post.author }}</p>

{% if user.is_authenticated and user == post.author %}
<div class="mb-4">
  <a href="{% url 'blog:post_update' post.pk %}" class="btn btn-outline-primary me-2">Edit Post</a>
  <a href="{% url 'blog:post_delete' post.pk %}" class="btn btn-outline-danger">Delete Post</a>
</div>
{% endif %}

{{ post.body|safe }}

<div class="row">
  <div class="col-12">
    <strong class="text-secondary">
      <i class="far fa-comments"></i> {{ comment_count }}
    </strong>
  </div>
  <div class="col-12">
    <hr />
  </div>
</div>

<!-- Creating new comment -->
<div class="row" id="comment">
  <div class="col-md-12 card mb-4 mt-3">
    <div class="card-body">
      {% if user.is_authenticated %}
      <p>Posting as: {{ user.username }}</p>
      <form id="commentForm" method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_body" class="visually-hidden">Comment</label>
          <textarea name="body" id="id_body" class="form-control auto-expand" rows="1" placeholder="Leave a comment..." required></textarea>
        </div>
        <div class="text-center">
          <button id="submitButton" type="submit" class="btn btn-primary btn-sm">Submit</button>
        </div>
      </form>
      {% else %}
      <p>Log in to leave a comment</p>
      {% endif %}
    </div>
  </div>
</div>

<!-- Display comments -->
<div class="row" id="comment">
  <div class="col-md-12 card mb-4 mt-3">
    <div class="card-body">
      <h3>Comments:</h3>
      {% for comment in comments %}
      <div class="p-2 comments {% if not comment.approved and comment.author == user %}faded{% elif not comment.approved %} d-none{% endif %}">
        <p class="font-weight-bold">
          {{ comment.author }}
          <span class="font-weight-normal">{{ comment.created_on }}</span> wrote:
        </p>
        <div id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>

        {% if not comment.approved and comment.author == user %}
        <p class="approval">This comment is awaiting approval</p>
        {% endif %}

        {% if comment.author == user %}
        <div class="mt-2">
          <a href="{% url 'blog:edit_comment' comment.id %}" class="btn btn-sm btn-primary">Edit</a>
          <a href="{% url 'blog:delete_comment' comment.id %}" class="btn btn-sm btn-danger">Delete</a>
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
