{% extends "base.html" %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
<h1>Blog Posts</h1>
<!-- User create new post button -->
<a href="{% url 'blog:post_create' %}" class="btn btn-primary mb-4" id="newpost-btn">Create New Post</a>

{% for post in posts %}
  <div class="post-box mt-4">
    <h2>
      <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
    </h2>
    <p class="date">
      Published {{ post.publish }}
    </p>
    {{ post.content|truncatewords:30|linebreaks }}
  </div>
{% endfor %}
{% endblock %}
