{% extends "base.html" %}

{% block title %}DevBase | Blog Posts{% endblock %}

{% block content %}
<h1>Blog Posts</h1>
<!-- User create new post button -->

<div style="display: flex; justify-content: flex-end; margin-bottom: 1rem;">
  <a href="{% url 'blog:post_create' %}" class="btn btn-primary newpost-btn">New Blog</a>
</div>

{% for post in posts %}
  <div class="post-box mt-4">
    <h2>
      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
    </h2>
    <p class="date">
      Published {{ post.publish }}
    </p>
    {{ post.body|truncatewords:30|linebreaks }}
  </div>
{% endfor %}
{% endblock %}
